.pages {
    background-image: url(./green-porsche.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #9CDA86;
    background-size: cover;
    text-align: center;
    color: bisque;
    
}

.screenHeader1 {
    background-image: linear-gradient( #9CDA86, #85EB9B61); 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.screenHeader2 {
    background-image: linear-gradient( #9CDA86, #85EB9B61); 
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.table {
    color:bisque;
    text-align: center;
 }

 .navbtn1 {
    margin:100px;
 }

 .navbtn2 {
    margin:100px;
    float: right;
 }

.btn1 {
    padding : 0.5em;
    background-color: #0A4D52;
    margin: 0.5em;
    color: white;
    margin-bottom: 100px;

}
.btn2 {
    padding : 0.5em;
    background-color:red;
    margin: 0.5em;
    color: black;
    margin-bottom: 100px;
}


@media (min-width: 960px) {
    .btn {
        padding : 0.5em;
        background-color: #0A4D52;
        margin: 0.5em;
        color: white;
    }
}